// fonts

@font-face {
  font-family: "mulish-italic";
  src: url("../Mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "mulish";
  src: url("../Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "mulish-bold";
  src: url("../Mulish/static/Mulish-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "mulish-semi-bold";
  src: url("../Mulish/static/Mulish-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "mulish-extra-bold";
  src: url("../Mulish/static/Mulish-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "mulish-black";
  src: url("../Mulish/static/Mulish-Black.ttf") format("truetype");
}
